body{
   font-family: 'Poppins',
   sans-serif;
}
.org{
    color: orangered;

}
.felxi{
display:flex;
margin-bottom: 10%;
}
h1{
  font-size: 300%;  
}
.half{
    width: 50%;
    padding-left:7% ;
}
.half img{
    width:100% ;
}


.link-line{
    background-image:linear-gradient(red,blue);
    text-decoration: none;
    padding:10px 20px ;
    color:white;
    border-radius:10px; 
}
.content img{
   
  max-width: 100%;
  height: auto;
}
.text{

    width: 50%;
   margin-top: -40%; 
   position: relative; 
   
   
  padding-left: 50%;

}
.text h1{
    
  

}
